/*
 * +---------------------+
 * | :: G E N E R A L :: |
 * +---------------------+
 */

:root {
	--font-primary: #fff;
	--font-secondary: #a0a0a0;
	--scrollbar-track-bg: #101010;
	--scrollbar-thumb-bg: #333;
	--icon-fill: white;
	--swap-speed: 0.2s;
	--toggle-theme-color: #ffc107;
	--map-bg: 48,48,48;
	--menu-bg: rgba(48,48,48,0);
	--menu-bg-scrolled: rgba(48,48,48,0.8);
	--link-color: #3291ff;
	--shadow-color: black;
	--title-shadow-color: black;
	--card-bg: rgba(48,48,48,0.5);
	--card-black: black;
	--card-shadow: rgba(0,0,0,0.1);
	--footer-bg: rgba(48,48,48,1); 
	--lines-color: #5E5E5E;
	--mobile-panel-speed: 0.3s;
	--footer-card-bg: #444444;
	--start-color: #9a9a9a;
	--finish-color: #fbfbfb;
	--light-bg: rgba(255,255,255,0.125);
	--light-bg-hl: rgba(255,255,255,0.2);
	--dark-bg: rgba(0,0,0,0.575);
}

html, body {
	margin: 0;
	width: 100%;
    height: 100%;
}

.demo-body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #01012b;
    background-image: url(../images/avdan_vert.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	overflow: hidden;
}

@font-face {
	font-family: "Inter";
	src 		: url(../fonts/inter.ttf);
	font-display: swap;
}

* {
    font-family: Inter, sans-serif;
    color: var(--font-primary);
}

::-webkit-scrollbar, iframe::-webkit-scrollbar  {
	width: 8px;
	background-color: var(--dark-bg);
}

::-webkit-scrollbar-thumb, iframe::-webkit-scrollbar-thumb  {
	border-radius: 0.25rem;
	background-color: var(--light-bg);
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Old versions of Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						  supported by Chrome, Edge, Opera and Firefox */
}

/*
 * +-------------------------+
 * | :: W O R K S P A C E :: |
 * +-------------------------+
 */

.workspace {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*
 * +-------------------+
 * | :: W I N D O W :: |
 * +-------------------+
 */

.window, .static-window {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0%;
	left: 0%;
	width: 1000px;
    height: 620px;
	min-width: 350px;
	min-height: 280px;
	border-radius:0.25rem;
	will-change: transform,width,height;
	background: var(--dark-bg);
	backdrop-filter: blur(40px);
	z-index:-1;
}

.file-manager {
	width: 1200px;
    height: 550px;
}

/* ------------------ */
